{% load static %}
<html>
    <head>

        <title> Login</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>

         <div class="container">
             <div class="hero">

             </div>

         </div>
         <div class="login-box" style="height:450px">

             <h1>Login</h1>
             <!--<form class="form" method="POST" action="">-->
                <form method="POST" action="">
             
                {% csrf_token %}
             
                <p>Username</p>
                <input type="text" name="username" placeholder="Enter Username">
                <p>Password</p>
                <input type="text" name="password" placeholder="Enter Password">
                <br><br>
                <button>Login</button>
                <button><a href="register">Register</a></button><br>
                
              </form>
         </div>

      
    






    </body>
</html>